<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Formation générale</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Formation Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Formation Conditionnement</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
